<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>

</head>

<body>
<div style="width:500px;margin:20px auto;text-align: center">
    <h th:text="${title}">hello</h>
    <table align = "center" border="1" cellspacing="0">
    <th>
        <td>id</td>
        <td>name</td>
        <td>gender</td>
        <td>number</td>
        <td>编辑</td>
        <td>删除</td>
    </th>

    <tr th:each = "pl: ${personDaoList}">
        <td th:text = "${pl.id}"></td>
        <td th:text = "${pl.name}"></td>
        <td th:text = "${pl.gender}"></td>
        <td th:text = "${pl.number}"></td>
        <td><a th:href="@{/findUser(id=${pl.id})}">编辑</a></td>
        <td><a th:href="@{/deleteUser(id=${pl.id})}">删除</a></td>

    </tr>

    </table>


</div>

</body>
</html>


